.carousel {
    position: relative;
    height: 85vh;
    width:100vw;
    overflow: scroll;
}

.carousel-track {
    position: absolute;
    display: flex;
    flex-direction: row;
    top:0;
    left:0;
    height: 85vh;
    transition: transform 1s ease-in-out;
}