.grid {
    display:flex;
    flex-direction: column;
}

.grid .row {
    display: flex;
    flex: 1 0 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid .row.reverse {
    flex-direction: row-reverse !important;
}

.fullcenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.align-end {
    justify-content: flex-end;
}

.grid .row [class*='col-'] {
    flex:1 0;
}

.grid .row .col-1 { flex-basis: calc(100% / 12);}
.grid .row .col-2 { flex-basis: calc(100% / 6);}
.grid .row .col-3 { flex-basis: calc(100% / 4);}
.grid .row .col-4 { flex-basis: calc(100% / 3);}
.grid .row .col-5 { flex-basis: calc(100% / 12 * 5);}
.grid .row .col-6 { flex-basis: calc(100% / 2);}
.grid .row .col-7 { flex-basis: calc(100% / 12 * 7);}
.grid .row .col-8 { flex-basis: calc(100% / 3 * 2);}
.grid .row .col-9 { flex-basis: calc(100% / 12 * 9);}
.grid .row .col-10 { flex-basis: calc(100% / 12 * 10);}
.grid .row .col-11 { flex-basis: calc(100% / 12 * 11);}
.grid .row .col-12 { flex-basis: 100%;}


/*
mobile  0 - 479
medium -md 480 - 1023
large -l 1024 - 1400
extraLarge -xl 1401
*/
@media (min-width:480px) {
    .grid .row .col-m-1 { flex-basis: calc(100% / 12);}
    .grid .row .col-m-2 { flex-basis: calc(100% / 6);}
    .grid .row .col-m-3 { flex-basis: calc(100% / 4);}
    .grid .row .col-m-4 { flex-basis: calc(100% / 3);}
    .grid .row .col-m-5 { flex-basis: calc(100% / 12 * 5);}
    .grid .row .col-m-6 { flex-basis: calc(100% / 2);}
    .grid .row .col-m-7 { flex-basis: calc(100% / 12 * 7);}
    .grid .row .col-m-8 { flex-basis: calc(100% / 3 * 2);}
    .grid .row .col-m-9 { flex-basis: calc(100% / 12 * 9);}
    .grid .row .col-m-10 { flex-basis: calc(100% / 12 * 10);}
    .grid .row .col-m-11 { flex-basis: calc(100% / 12 * 11);}
    .grid .row .col-m-12 { flex-basis: 100%;}
}

@media (min-width:1024px) {
    .grid .row .col-l-1 { flex-basis: calc(100% / 12);}
    .grid .row .col-l-2 { flex-basis: calc(100% / 6);}
    .grid .row .col-l-3 { flex-basis: calc(100% / 4);}
    .grid .row .col-l-4 { flex-basis: calc(100% / 3);}
    .grid .row .col-l-5 { flex-basis: calc(100% / 12 * 5);}
    .grid .row .col-l-6 { flex-basis: calc(100% / 2);}
    .grid .row .col-l-7 { flex-basis: calc(100% / 12 * 7);}
    .grid .row .col-l-8 { flex-basis: calc(100% / 3 * 2);}
    .grid .row .col-l-9 { flex-basis: calc(100% / 12 * 9);}
    .grid .row .col-l-10 { flex-basis: calc(100% / 12 * 10);}
    .grid .row .col-l-11 { flex-basis: calc(100% / 12 * 11);}
    .grid .row .col-l-12 { flex-basis: 100%;}
}