.planEstudio{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: 1180px;
    margin: 0 auto;
}

.bloque {
    display: flex;
    width:100%;
    border: 1px solid #555;
    margin-bottom: 0.5rem;
}

.bloque-titulo {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    background-color: #888;
}
.clases {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding:0.25rem 1rem;
}

.class {
    display: flex;
    flex-direction: column;
    width: 180px;
    padding: 0.25rem;
    border: 1px solid #555;
    font-size: 0.75rem;
}

.class.requisito {
    box-shadow: 3px 3px 5px #0008e2;
}

.class.apertura {
    box-shadow: 3px 3px 5px #00e208;
}

.class.selected {
    background-color: #b45700;
}